.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header button {
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header button:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.header select {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: center;
  color: black;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}
