.landing {
  background-image: url("../../assets/jostin.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing h1 {
  font-size: 5rem;
  color: white;
}

.landing h1:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.landing button {
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  color: #fff;
}

.landing button:hover {
  background-color: #ffffff0c;
  color: #000;
  cursor: pointer;
}
